.recommendation{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 90px;
}
.apiRecommendation{
    border:1px solid burlywood;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: antiquewhite;
}
.btn{
    width:100px;
    height:50px;
    color:black;
    margin-right: 0px;
}
.btn:hover{
    background-color: green;
    color:white;

}